body{
    justify-content: center;
    align-items: center;
    margin: 0;
    
}
.loader{
    background:rgba(0, 0, 0, 0.5) ;
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0%;
           
}
.loader label{
    font-size: 5px;
    font-style: oblique;
    text-shadow: 5px 5px 11px rgba(0, 0, 0,1 );
    position: relative;
    top: -6%;
    font-weight: bold;
    color: rgb(31, 184, 39);
}
.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}
.error{
    position: relative;
    border-radius: 5px;
    font-size: 17px;
    top: -52px;
    left: 50px;
    position: relative;
    background: red;
    color: white;
    display: none;
    width: 300px;
}.error1{
    position: relative;
    border-radius: 5px;
    font-size: 17px;
    top: -52px;
    left: 50px;
    position: relative;
    background: red;
    color: white;
    display: none;
    width: 160px;
}
.sair{
    
    border: none;
    background: transparent;
    font-size: 20px;
    font-family: 'Centaur';
    text-shadow: 5px 5px 11px rgb(0, 0, 0);
    font-style: oblique;
    cursor: pointer;
    
    
}
.tabela{
    font-family: 'centaur';
    font-style: oblique;
    font-size: 20px;
    border-radius: 10px;
    padding:10px;
    background-color: rgba(255, 255, 255, 0.384)
    
    
}
td{
    font-family: 'centaur';
    font-style: oblique;
    font-size: 20px;
    border-radius: 10px;
    padding: 2px;
    background-color:  rgba(255, 255, 255, 0.384)

}
.editar{
       font-family: 'centaur';
        font-style: oblique;
        font-size: 20px;
        border-radius: 10px;
        padding: 2px;
        background-color:  rgba(48, 162, 238, 0.397);
        display: flex;
        display: block;
        color: black;
        
}
.editar:hover{
    background-color: #170cb3;
    color: #f2f2f2;
    border-radius: 50px;
    text-decoration: none;
    list-style: none;
}
a.editar {
    text-decoration: none; /* Remove o sublinhado */
}
.facilite{
    font-family: 'Centaur';
    font-size: 50px;
    font-style: oblique;
    text-shadow: 10px 25px 14px rgb(0, 0, 0);
}